.container1 {
    width: 100%; /* Atur lebar sesuai kebutuhan */
    display: flex;
    justify-content: flex-start; /* Pastikan konten dimulai dari kiri */
    align-items: flex-start; /* Pastikan berada di atas */
    background-color: #f9f9f9; /* Tambahkan warna latar belakang opsional */
    padding: 10px; /* Tambahkan padding jika diperlukan */
}

.produk-item1 {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    max-width: 700px; /* Sesuaikan lebar produk item */
}

.produk-image {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.produk-detail {
    flex: 1;
}

.harga {
    font-weight: bold;
    color: #e60000;
}

.harga-coret {
    text-decoration: line-through;
    color: #777;
}

.hapus-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}
