/* Sidebar styling */
/* Sidebar styling */
.sidebar {
  width: 280px; /* Lebar sidebar */
  height: 82vh; /* Tinggi sidebar sesuai dengan tinggi layar */
  position: fixed; /* Menempel di sisi kiri */
  top: 1.4em; /* Sidebar berada di atas layar */
  background: linear-gradient(to bottom, #280158, #6615b2, #8f2ca0);
  color: rgb(255, 255, 255);
  border-radius: 2.5em;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  z-index: 1000; /* Pastikan sidebar tetap di atas konten */
  padding-top: 20px;
  margin-top: 7em;
}


/* Menu di dalam sidebar */
.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Tumpukan elemen secara vertikal */
  align-items: center; /* Pusatkan menu secara horizontal */
}

/* Item menu di sidebar */
.sidebar-menu li {
  margin: 16px 0;
  font-size: x-large;
}

/* Link menu */
.sidebar-menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  display: block;
  padding: 10px 20px; /* Ruang dalam untuk link */
  border-radius: 5px; /* Membuat sudut melengkung */
}

/* Hover efek */
.sidebar-menu a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Hover effect */
}

/* Heading di sidebar */
.sidebar-menu h1 {
  padding-top: 1.5em;
  padding-bottom: 1em;
  font-style: italic;
  text-align: center; /* Pastikan heading berada di tengah */
}
